<section class="modern-dialog">
    <h2 mat-dialog-title class="dialog-title">Búsqueda por DNI</h2>
    <mat-dialog-content class="dialog-content">
        <p class="dialog-text">La búsqueda por dni puede dar como resultado múltiples profesionales debido a que en las listas oficiales del SAS los DNIs solo contienen 4 números (ej: ***4567**) por lo que muchos profesionales pueden coincidir.</p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button class="btn-accept" (click)="dialogRef.close()">Aceptar</button>
    </mat-dialog-actions>
</section>