<section class="home-section">
  <div class="home-title">Información de candidatos a personal del SAS</div>
  <form class="search-form" [formGroup]="form" (ngSubmit)="search()">
    <mat-form-field appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input type="text" matInput formControlName="surname" id="surname" (input)="onInputChange()">
      @if (submit && form.hasError('requiredFields')) {
        <span class="error">El apellido o el dni es obligatorio</span>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput formControlName="name" id="name" (input)="onInputChange()">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="type" id="type" (selectionChange)="onInputChange()">
        <mat-option [value]=""></mat-option>
        <mat-option [value]="'NURSE'">Enfermera/o</mat-option>
        <mat-option [value]="'FISIO'">Fisioterapeuta</mat-option>
        <mat-option [value]="'SPEECH_THERAPIST'">Logopeda</mat-option>
        <mat-option [value]="'OCCUPATIONAL_THERAPY'">Terapeuta ocupacional</mat-option>
        <mat-option [value]="'TCAE'">Técnico/a en Cuidados Auxiliares de Enfermería</mat-option>
        <mat-option [value]="'TEAP'">Técnico/a Especialista en Anatomía Patológica</mat-option>
        <mat-option [value]="'TEDN'">Técnico/a Especialista Dietética y Nutrición</mat-option>
        <mat-option [value]="'TEDS'">Técnico/a Especialista en Documentación Sanitaria</mat-option>
        <mat-option [value]="'TEL'">Técnico/a Especialista en Laboratorio</mat-option>
        <mat-option [value]="'TEMN'">Técnico/a Especialista en Medicina Nuclear</mat-option>
        <mat-option [value]="'TERD'">Técnico/a Especialista en Radioterapia</mat-option>
        <mat-option [value]="'TER'">Técnico/a Especialista en Radiodiagnóstico</mat-option>
        <mat-option [value]="'TF'">Técnico/a en Farmacia</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="or">- O BUSCAR POR -</div>
    <mat-form-field appearance="outline">
      <mat-label>DNI</mat-label>
      <input type="text" matInput formControlName="dni" id="dni" (input)="onInputChange()">
      @if (submit && form.hasError('requiredFields')) {
        <span class="error">El apellido o el dni es obligatorio</span>
      }
    </mat-form-field>
    <button class="submit-button" type="submit" mat-flat-button [disabled]="loading | async">Buscar</button>
  </form>

  @if ((staffs | async)?.length == 0 && !(loading | async)) {
    <div class="alert note">
        <span class="alert-text">
            Nota: El nombre y la categoría profesional son opcionales
        </span>
    </div>
    <div class="info-section">
      <p class="info-text">
        Consulta la información sobre personal sanitario del Servicio Andaluz de Salud. Los datos están extraídos de las listas oficiales de concurso oposición y bolsa:
      </p>
      <a  class="staff-category" target="_blank" href="https://www.sspa.juntadeandalucia.es/servicioandaluzdesalud/profesionales/ofertas-de-empleo/oferta-de-empleo-publico-puestos-base/oep-extraordinaria-decreto-ley-122022-centros-sas/cuadro-de-evolucion-concurso-oposicion-centros-sas">
        <span>Cuadro de evolución concurso-oposición</span>
      </a>
      <a  class="staff-category" target="_blank" href="https://www.sspa.juntadeandalucia.es/servicioandaluzdesalud/profesionales/ofertas-de-empleo/bolsa-de-empleo/cuadro-de-evolucion-2023">
        <span>Cuadro de evolución de bolsa de empleo con corte en 2023</span>
      </a>
    </div>
  }

  @if (loading | async) {
    <div class="spinner"><mat-spinner></mat-spinner>.</div>
  } @else if((staffs | async) != null && (staffs | async)!.length > 0){
    <div class="alert see-details">
        <span class="alert-text">
            Pincha en el profesional para ver los detalles
        </span>
    </div>
    <section class="staffs-section">
      @for (staff of (staffs | async); track $index) {
        <staff [staff]="staff"/>
      }
    </section>
  }
</section>
